**/.idea
**/.DS_Store

**/.gradle
**/*.iml

**/obj
**/bin

godot-lsp/
gdscript/.intellijPlatform
gdscript/build
gdscript/protocol/build
gdscript/classes

*generated*
*Generated*

NuGet.Config

*.hprof

docs/
